<div class="chat-list">
  <div class="list-group">
    <ng-container *ngIf="userId; else pleaseRegister">
      <div class="list-group-item" *ngFor="let message of (messages$ | async)">
        <div>
          <h4>{{ (user$ | async)?.firstName }} {{ (user$ | async)?.lastName }}
            <small class="date">{{ message.createdAt | date: 'mm/dd/yyyy hh:mm'}}</small>
          </h4>
          <p>
            {{ message.message }}
          </p>
        </div>
      </div>
      
    </ng-container>
  </div>
  <ng-template #pleaseRegister>
    <div class="list-group-item">
        <h1>Please Register First</h1>
    </div>
</ng-template>
</div>
