.container {
    padding: 20px 30px;

    .title {
        text-align: center;
    }

    .chat {
        display: flex;
        justify-content: center;

        .leftUser,
        .rightUser {
            width: 100%;
            margin: 0 20px;
            box-sizing: border-box;
        }
    }

    hr {
        border: 0.8px solid #e0e0e0;
    }
}
