<div class="container">
  <div class="title">
    <h1>Redux stupid chat</h1>
  </div>

  <div class="chat">
    <div class="leftUser">
        <lib-register (register)="registerUser($event, 'left')"></lib-register>
        <hr/>
        <app-create-message [userId]="leftUserId$ | async"></app-create-message>
        <app-chat-list [userId]="rightUserId$ | async"></app-chat-list>
      </div>
      <div class="rightUser">
        <lib-register (register)="registerUser($event, 'right')"></lib-register>
        <hr/>
        <app-create-message [userId]="rightUserId$ | async"></app-create-message>
        <app-chat-list [userId]="leftUserId$ | async"></app-chat-list>
      </div>
  </div>
</div>
